/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
    cursor: pointer;
}

/* .wrapper.collapsed-side-bar {
    width: 60px;
} */

.collapsed-side-bar .sidebar {
    width: 60px !important;
}


.main-panel>.main-content {
    padding-left: 240px;

}

.wrapper.compact-menu .sidebar:hover {
    width: 250px !important;
}

.wrapper.compact-menu .main-panel>.main-content {
    padding-left: 60px;
}

.wrapper.collapsed-side-bar .main-panel>.main-content {
    padding-left: 60px !important;
}


.navigation {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.navigation > ul,li {
    font-size: 1rem;
    padding:0;
    margin: 0;
    overflow: hidden;
}
.navigation>li {
    color: white;
}
ul {
    list-style-type: none;
}

.navigation .open >a:after {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }


.navigation>li a {
    display: block;
    overflow: hidden;
    font-size: 22px;
    line-height: 2rem;
    padding: 10px 30px 10px 14px;
    margin: 5px 0;
    background-color: transparent;
    transition: all 300ms linear;
    color: white;
}

.navigation>li a {
    border-right: 6px solid red
}
.navigation>li a:hover {
    text-decoration: none;
}



.menu-title {
    margin: 0;
    font-size: 0.95rem;
    font-weight: 400;
    letter-spacing: 0.6px;
    opacity: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    height: auto;

}

.navigation>i {
    font-size: 18px;
    float: left;
    margin-right: 10px;
    line-height: 2rem !important;
    width: 30px;
    text-align: center;
    color: #a9afbb;
}



.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 250px;
    height: 100vh;
    background-color: #683F60;
}




.sidebar-header {
    padding: 20px 15px;

}

.sidebar-header>a.nav-toggle {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    right: 14px;
    top: 32px;
    color: rgba(255, 255, 255, 0.55);

}

.collapsed-side-bar .sidebar-header>a.nav-toggle {
    display: none;
}


.sidebar-body {
    position: relative;
    height: calc(100vh - 90px);
    overflow-x: hidden;
    z-index: 4;
}


.has-sub>a::after {

    content: "\f105";
    font-family:"Font Awesome 5 Pro";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 17px;
    -webkit-transform: rotate(0);
          -moz-transform: rotate(0);
          -ms-transform: rotate(0);
          -o-transform: rotate(0);
          transform: rotate(0);
          transition: -webkit-transform .2s ease-in-out;
}

.wrapper.collapsed-side-bar .menu-title {
    display: none;
}

.wrapper.collapsed-side-bar .has-sub>a::after {
    content: "";
}
