<div class="sidebar">

  <div class="sidebar-header">
    <a class="nav-toggle cursor-pointer"  id="sidebarOpen">
        <i appToggleSidebar class="fas fa-toggle-on" data-toggle="expanded"></i>
    </a>
  </div>
  <div class="sidebar-body">
    <ul class="navigation">
      <li>
        <a>
          <i class="fab fa-adn"></i>

         <span class="menu-title">
          Menu Item 1
         </span> 
        </a>
      </li>
      <li >
        <a>
          <i class="fas fa-air-freshener"></i>

         <span class="menu-title">
          Menu Item 2
         </span> 
        </a>
      </li>
    </ul>
  </div>

</div>
